{
  "tabWidth": 2,
  "printWidth": 500,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "semi": false,
  "endOfLine": "auto",
  "quoteProps": "as-needed",
  "useTabs": false,
  "extends": ["prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "arrow-body-style": "off",
    "prefer-arrow-callback": "off"
  }
}
